@media only screen and (max-width: 600px) {

	#page-wrapper {
        padding: 10px;
		margin-top: 150px;
    }

    .top-nav{
        background-color: #e3ebff;
        padding-bottom: 10px;
        margin-top: 0px;
    }

    .top-nav .dropdown-menu{
        box-shadow: #999 5px 5px 5px !important;
        border-bottom: #666 2px solid !important;
    }

}